# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
chroma/
*.sqlite3

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Frontend
frontend/node_modules/
frontend/dist/

# Local Data and Debug files
data/
debug_retrieval.py
retrieval_output.txt
retrival_output.txt
test_pdf.txt
test_retrieval.py
all_chunks.txt
